.docs-section {
  width: 60%;
  min-width: 700px;
  padding-bottom: 100px;
}

.docs-category-title {
  font-size: 36px !important;
  font-weight: 600 !important;
  margin-bottom: .3em !important;
  color: #B19EEF !important;
  letter-spacing: -.5px !important;
}

.docs-category-subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: .3em;
  color: #aaaaaa;
  letter-spacing: -.5px;
}

.docs-paragraph {
  max-width: 55ch;
  font-size: 18px;
  margin-bottom: 1.8em;
  font-weight: 500;
  color: #f5f5f5;
  letter-spacing: -.5px;
}

.docs-paragraph.dim {
  color: #aaaaaa;
}

.docs-list {
  letter-spacing: -.5px;
  font-size: 18px;
  margin-bottom: 1.8em;
  margin-left: 1.2em;
}

.docs-list-item {
  margin-bottom: 0.5em;
  max-width: 55ch;
  list-style-type: disc;
  color: #f5f5f5;
}

.docs-highlight {
  font-weight: 600;
}

.short {
  margin-bottom: .6em;
}

.docs-button-bar {
  margin-top: 2em;
  display: flex;
  gap: 1em;
  justify-content: flex-end;
}

.docs-button {
  padding: 0.8em 1.2em 0.8em 1.2em;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -.5px;
  color: #ffffff;
  background-color: #060010;
  border: 1px solid #392e4e;
  border-radius: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  line-height: 0%;
  gap: 0.5em;
  transition: background-color 0.3s ease;
}

.docs-button-primary {
  margin-right: auto;
}

.docs-button:hover {
  background-color: #271E37;
  transition: background-color 0.3s ease;
}

.installation-methods {
  display: flex;
  margin-bottom: 1.8em;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.installation-method {
  background-color: #060010;
  border: 1px solid #B19EEF;
  color: #B19EEF;
  display: flex;
  font-size: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 50%;
  padding: 3rem 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.installation-method:hover {
  cursor: pointer;
  background-color: #271E37;
  color: #B19EEF;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.method-active {
  background-color: #B19EEF;
  color: #060010;
}

.method-active:hover {
  background-color: #B19EEF;
  color: #060010;
}

.method-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: .4em;
}

.docs-code {
  margin-bottom: 1.8em;
}

.docs-code-options {
  display: flex;
  margin-top: 1.2em;
  width: 100%;
  height: auto;
  border: 1px solid #392e4e;
  padding: .4em;
  border-radius: 15px;
  margin-bottom: 1.8em;
}

.code-options-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  border-radius: 10px;
}

@media (max-width: 999px) {
  .docs-section {
    width: 100%;
    min-width: unset;
  }

  .docs-paragraph {
    max-width: none;
  }

  .docs-list-item {
    max-width: none;
  }
}